<div id="right_tool">
    <ul style="list-style:none">
    <li class="well" id="rtop"><i class="glyphicon glyphicon-chevron-up"></i></li>
    <li class="well right_tool_list"><i class="glyphicon glyphicon-list"></i></li>
    <!-- <li class="well" id="btn-fav"><i class="glyphicon glyphicon-heart"></i></li> -->
    </ul>
</div>

<div id="right_list" class="hide animated slideLeft">
    <ul class="list-group">
        <li class="list-group-item">Java</li>
        <li class="list-group-item">PHP</li>
        <li class="list-group-item">C</li>
        <li class="list-group-item">C++</li>
        <li class="list-group-item">SHELL</li>
    </ul>
    <ul class="list-group">
        <li class="list-group-item">Java</li>
        <li class="list-group-item">PHP</li>
        <li class="list-group-item">C</li>
        <li class="list-group-item">C++</li>
        <li class="list-group-item">SHELL</li>
    </ul>
</div>

